body {
  margin: 0;
  font-size: 14px;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  color: $color-font-default;
  background-color: $color-background;
  min-width: 1000px;
}

a {
  color: $color-font-default;
}

.translation_missing {
  padding: 0 !important;
  margin: 0 !important;
  color: $color-error !important;
  text-decoration: line-through !important;
}
