form {
  ul {
    padding: 0;
    margin: 0;
  }
  li {
    list-style: none;
    margin-top: 10px;
    .inline-errors {
      color: $color-error;
      margin-top: 2px;
    }
    abbr {
      border: 0 !important;
      padding-left: 3px;
    }
  }
  li:first-child, li:nth-of-type(1) {
    margin-top: 0;
  }
  p {
    margin: 7px 0px;
    font-size: 14px;
    color: $color-form-hints;
  }
  label {
    display: block;
    margin-bottom: 2px;
    color: $color-form-labels;
    font-size: 14px;
  }
  input[type="text"], input[type=password], input[type=number], input[type=email], input[type=tel], textarea, select[multiple=multiple] {
    border: 1px solid $color-form-field-border;
    box-sizing: border-box;
    font-size: 14px;
    padding: 5px;
    outline: none;
    color: $color-form-field-text;
    width: 100%;
    &:focus {
      border: 1px solid $color-form-field-border-focus;
    }
  }
  button, input[type=submit] {
    border: 0;
    font-size: 12px;
    padding: 7px 14px;
    color: $color-form-button-text;
    cursor: pointer;
    background-color: $color-form-button;
    font-weight: bold;
    &:hover {
      background-color: $color-form-button-hover;
    }
  }
  input[type=checkbox], input[type=radio] {
    margin-right: 7px;
  }
}
