$asset_icon_sort: image-path("aureus/icon-sort.png");
$asset_icon_sort_abc_asc: image-path("aureus/icon-sort-abc-asc.png");
$asset_icon_sort_abc_desc: image-path("aureus/icon-sort-abc-desc.png");

$asset_icon_pencil: image-path("aureus/icon-pencil.png");
$asset_icon_cross: image-path("aureus/icon-cross.png");
$asset_icon_eye: image-path("aureus/icon-eye.png");
$asset_icon_refresh: image-path("aureus/icon-refresh.png");
$asset_icon_print: image-path("aureus/icon-print.png");
