.aureus-messages {
  .error, .notice, .alert {
    margin: 0;
    padding: 10px 40px;
    color: black;
  }
  .alert {
    background-color: $color_yellow;
  }
  .error {
    background-color: $color_red;
  }
  .notice {
    background-color: $color_green;
  }
}
