$font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;

* {
  font-family: $font-family;
}

body {
  font-size: 100%;
  background-color: #ddd;
  background-image: url($asset_app_background);
  min-width: 1200px;
}

a {
  font: inherit;
}

strong {
  font-weight: bold;
}

#messages {
  .error, .notice, .alert {
    padding: 10px 30px;
    color: white;
    font-size: 14px;
    text-shadow: -1px -1px 0 black;
  }
  .error, .alert {
    @include gradient($color_warn,$color_warn_dark);
  }
  .notice {
    @include gradient(#666,#444);
  }
}

#foot {
  margin-bottom: 30px;
  color: #999;
  text-align: center;
  font-size: 14px;
  text-shadow: 1px 1px 0 white;
}