#content {
  padding: 20px 30px;
  overflow: hidden;
  .row {
    margin-bottom: 20px;
    overflow: hidden;
  }
  .column {
    float: left;
    overflow: hidden;
  }
  .box {
    border: 1px solid #ddd;
    background-color: white;
    @include border-radius(3px);
    h3 {
      color: #444;
      text-shadow: 1px 1px 0 white;
      padding: 12px;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 14px;
      border-bottom: 1px solid #aaa;
      @include gradient(#f9f9f9,#ddd);
      span {
        font-weight: bold;
      }
      a {
        float: right;
        cursor: pointer;
        display: inline;
        color: #555;
        text-decoration: none;
        font-weight: bold;
        font-size: 12px;
        padding: 3px 10px;
        @include border-radius(3px);
        @include gradient(#fff,#ddd);
        text-shadow: 1px 1px 0 #eee;
        border: 1px solid #aaa;
        margin-left: 5px;
        margin-top: -2px;
        text-transform: none;
      }
      a:hover {
          color: $color_main;
        }
      .current {
        color: $color_main;
      }
    }
    .content {
      padding: 12px;
      p {
        font-size: 14px;
        margin: 5px 0px;
      }
    }
    div.foot {
      padding: 10px 12px;
      border-top: 1px solid #bbb;
      @include gradient(#ddd,#eee);
      span {
        font-size: 14px;
        color: #666;
        margin-right: 10px;
      }
      .strong {
        color: black;
      }
      a {
        font-size: 14px;
        text-decoration: none;
        color: #666;
        margin-right: 10px;
      }
      a:hover {
        color: $color_main;
      }
      .current {
        color: $color_main;
      }
      .right {
        float: right;
      }
    }
  }
  .w1 {
    margin-right: 1%;
    width: 24%;
  }
  .w2 {
    margin-right: 1%;
    width: 49%;
  }
  .w3 {
    margin-right: 1%;
    width: 74%;
  }
  .w4 {
    width: 100%;
  }
  .w1-last {
    width: 25%;
  }
  .w2-last {
    width: 50%;
  }
  .w3-last {
    width: 75%;
  }
  .centered {
    margin: 0 auto;
    margin-top: 15%;
    float: none !important;
    width: 400px;
  }
  hr {
    width: 100%;
    border: 0;
    height: 10px;
    margin: 0;
  }
}