form {
  li {
    list-style: none;
    margin: 7px 0px;
    .inline-errors {
      color: $color_warn;
    }
  }
  p {
    margin: 7px 0px;
    font-size: 14px;
    color: #666;
  }
  p.inline-hints {
    color: #999;
  }
  p.hint {
    color: $color_main;
  }
  label {
    display: block;
    margin-bottom: 2px;
    color: #555;
    font-size: 14px;
  }
  input[type="text"], input[type=password], input[type=email], input[type=tel], textarea, select[multiple=multiple] {
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: $font-family;
    font-size: 14px;
    padding: 5px;
    outline: none;
    color: black;
    width: 100%;
    :focus {
      border: 1px solid #999;
      @include box-shadow(0,0,4px,#999);
    }
  }
  button, input[type=submit] {
    border: 0;
    font-size: 12px;
    font-weight: bold;
    padding: 7px 14px;
    text-transform: uppercase;
    color: white;
    text-shadow: -1px -1px 0 black;
    cursor: pointer;
    @include border-radius(3px);
    font-family: $font-family;
    @include gradient(#444,#222);
  }
  button:hover, input[type=submit]:hover {
    @include gradient($color_main,$color_main_dark);
  }
  input[type=checkbox], input[type=radio] {
    margin-right: 7px;
  }
}