@mixin gradient($from,$to) {
  background: $from;
  background: -moz-linear-gradient($from, $to);
  background: -webkit-gradient(linear, left top, left bottom, $from, $to);
  background: -webkit-linear-gradient(top, $from, $to);
  background: -o-linear-gradient(top, $from, $to);
  background: -ms-linear-gradient(top, $from, $to);
  background: linear-gradient(top, $from, $to);
}

@mixin border-radius($radius:3px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin border-radius-separate($topright,$bottomright,$bottomleft,$topleft) {
  -webkit-border-top-right-radius: $topright;
  -webkit-border-bottom-right-radius: $bottomright;
  -webkit-border-bottom-left-radius: $bottomleft;
  -webkit-border-top-left-radius: $topleft;
  -moz-border-radius-topright: $topright;
  -moz-border-radius-bottomright: $bottomright;
  -moz-border-radius-bottomleft: $bottomleft;
  -moz-border-radius-topleft: $topleft;
  border-top-right-radius: $topright;
  border-bottom-right-radius: $bottomright;
  border-bottom-left-radius: $bottomleft;
  border-top-left-radius: $topleft;
}

@mixin box-shadow($x:0,$y:1px,$blur:2px,$color:#000) {
  -webkit-box-shadow: $x $y $blur $color;
  -moz-box-shadow: $x $y $blur $color;
  box-shadow: $x $y $blur $color;
}

@mixin opacity($opacity:0.5) {
  -moz-opacity: $opacity;
  -khtml-opacity: $opacity;
  -webkit-opacity: $opacity;
  opacity: $opacity;
}