.datatable, .datatable-no-toolbar, .simple-table {
  width: 100%;
  thead {
    tr {
      border-top: 1px solid #333;
      @include gradient(#444,#222);
      th {
        padding: 10px 12px;
        text-align: left;
        font-weight: normal;
        font-size: 14px;
        color: white;
        text-shadow: -1px -1px 0 black;
        border-left: 1px solid #444;
      }
      th.sorting {
        background-image: url($asset_icon_sort);
        background-repeat: no-repeat;
        background-position: center right;
      }
      th.sorting_asc {
        background-image: url($asset_icon_sort_abc_asc);
        background-repeat: no-repeat;
        background-position: center right;
      }
      th.sorting_desc {
        background-image: url($asset_icon_sort_abc_desc);
        background-repeat: no-repeat;
        background-position: center right;
      }
      th.center {
        text-align: center;
      }
    }
  }
  tbody {
    td, th {
      text-align: left;
      border-top: 1px solid #ddd;
      padding: 12px;
      font-size: 14px;
      line-height: 1.2;
      border-left: 1px solid #eee;
      a {
        color: black;
        text-decoration: none;
      }
      a:hover {
        color: $color_main;
      }
    }
    tr.shaded {
      color: #666 !important;
    }
    tr:first-child td, tr:first-child th {
      border-top: 0;
    }
    td:first-child, th:first-child {
      border-left: 0;
    }
    td.center {
      text-align: center;
    }
    th {
      border-right: 1px solid #eee;
      font-size: 12px;
      color: #444;
     }
    td.buttons {
      width: 1px;
      white-space: nowrap;
      text-align: right;
      padding: 7px !important;
      vertical-align: middle;
      a {
        cursor: pointer;
        display: inline;
        padding: 3px 10px;
        @include border-radius(30px);
        @include gradient(#eee,#ccc);
        border: 1px solid #999;
        margin: 0 1px;
        span {
          color: #555;
          text-decoration: none;
          font-weight: bold;
          font-size: 12px;
          text-shadow: 1px 1px 0 #eee;
        }
      }
      a.edit, a.destroy, a.show, a.recover, a.print {
        width: 16px;
        height: 16px;
        display: inline-block;
        padding: 3px 9px;
        span {
          display: block;
           text-indent: 3000px;
           width: 16px;
           height: 16px;
           opacity: 0.5;
        }
        span:hover {
          opacity: 1;
        }
      }
      a.edit span {
        background: url($asset_icon_pencil);
      }
      a.destroy span {
        background: url($asset_icon_cross);
      }
      a.show span {
        background: url($asset_icon_eye);
      }
      a.recover span {
        background: url($asset_icon_refresh);
      }
      a.print span {
        background: url($asset_icon_print);
      }
    }
  }
}
  
.datatable-wrapper {
  .toolbar {
    padding: 5px 12px;
    padding-bottom: 2px;
    @include gradient(#ddd,#bbb);
    color: #333;
    font-size: 12px;
    overflow: hidden;
    .datatable-length {
      float: right;
    }
    .datatable-filter {
      float: left;
      input {
        width: 200px;
        border: 1px solid #666;
        padding: 2px 10px;
        @include border-radius(20px);
        @include gradient(#777,#999);
        color: white;
      }
    }
    .datatable-info {
      float: right;
      padding: 6px 0px;
      margin-left: 15px;
    }
  }
}