%p= t("devise.mail.unlock_instructions.title", :name => @resource.email)
%p= t("devise.mail.unlock_instructions.info1")
%p= t("devise.mail.unlock_instructions.info2")
%p= link_to t("devise.mail.unlock_instructions.link"), unlock_url(@resource, :unlock_token => @resource.unlock_token)