.first
  = aureus_box 'first_box' do
    %strong content

.second
  = aureus_box 'a title', centered: true, for: :form do
    %li a entry

.third
  = aureus_box 'a title' do |b|
    - b.content do
      %strong the content
    - b.foot do
      %strong the footer
