.first
  = aureus_toolbar 'A nice title' do |t|
    - t.left do |l|
      - l.link_to 'an anchor', 'http://www.example.com'
      - l.link_to 'an anchor', 'http://www.example.com'
      - l.dropdown 'a caption' do |d|
        - d.link_to 'an anchor', 'http://www.example.com'
        - d.link_to 'an anchor', 'http://www.example.com'
    - t.right do |r|
      - r.info 'some info'
      - r.link_to 'an anchor', 'http://www.example.com'
