= aureus_row do
  = aureus_box t(".box_title") do
    = aureus_datatable @{{{NAME_PLURAL}}} do |t|
      - t.head do |h|
{{{TABLE_HEADS}}}
      - t.row do |r,{{{NAME_SINGULAR}}}|
{{{TABLE_CELLS}}}
        - r.button :show, {{{PATH_SINGULAR}}}_url({{{NAME_SINGULAR}}}) if can? :show, {{{NAME_SINGULAR}}}
        - r.button :edit, edit_{{{PATH_SINGULAR}}}_url({{{NAME_SINGULAR}}}) if can? :edit, {{{NAME_SINGULAR}}}
        - r.button :destroy, {{{PATH_SINGULAR}}}_url({{{NAME_SINGULAR}}}), :confirm => t(".destroy_confirm") if can? :destroy, {{{NAME_SINGULAR}}}