= aureus_row do
  = aureus_box t('.box_title') do
    = aureus_datatable @{{{name_plural}}} do |t|
      - t.head do |h|
{{{table_heads}}}
      - t.row do |r,{{{name_singular}}}|
{{{table_cells}}}
        - r.button :show, {{{path_singular}}}_url({{{name_singular}}}) if can? :show, {{{name_singular}}}
        - r.button :edit, edit_{{{path_singular}}}_url({{{name_singular}}}) if can? :edit, {{{name_singular}}}
        - r.button :destroy, {{{path_singular}}}_url({{{name_singular}}}), confirm: t('.destroy_confirm') if can? :destroy, {{{name_singular}}}