- content_for :navigation do
  = aureus_navigation do |n|
    - n.title t('.title')
    - n.button link_to t('.button_cancel'), {{{path_plural}}}_url if can? :show, @{{{name_singular}}}
    - n.submit_form_button @{{{name_singular}}}, t('.button_save') if can? :update, @{{{name_singular}}}

= render 'form'