- content_for :navigation do
  = aureus_navigation do |n|
    - n.title "New {{{TITLE_SINGULAR}}}"
    - n.button link_to("Cancel", {{{PATH_PLURAL}}}_url) if can? :index, {{{MODEL}}}
    - n.submit_form_button @{{{NAME_SINGULAR}}}, "Save {{{TITLE_SINGULAR}}}" if can? :create, {{{MODEL}}}

= render "form"