body {
  font-size: 100%;
  font-family: 'Raleway';
  color: white;
  background-color: $color_light_grey;
  min-width: 1000px;
}

* {
  font-weight: normal;
}

strong {
  font-weight: bold;
}

a {
  color: white;
}

.translation_missing {
  padding: 0 !important;
  margin: 0 !important;
  color: $color_red !important;
  text-decoration: line-through !important;
}

// #foot {
//   margin-bottom: 30px;
//   color: #999;
//   text-align: center;
//   font-size: 14px;
//   text-shadow: 1px 1px 0 white;
// }