$color_grey: #1e1e1d;
$color_brown: #59483c;
$color_beige: #c6b78d;
$color_cyan: #0a89cf;
$color_blue: #00334c;

$color_red: #ff1a1a;
$color_yellow: #ffbb20;
$color_green: #3dbc13;

$color_light_grey: #ccc;
