.aureus-content {
  padding: 20px;
  overflow: hidden;
  .row {
    margin-bottom: 20px;
    overflow: hidden;
  }
  .column {
    float: left;
    overflow: hidden;
  }
  .box {
    background-color: white;
    h3 {
      background-color: $color_blue;
      margin: 0;
      padding: 10px 20px 12px;
      text-transform: uppercase;
      span {
        font-family: $font_regular;
        color: white;
        font-size: 14px;
      }
      a {
        float: right;
        cursor: pointer;
        display: inline-block;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 12px;
        padding: 3px 10px;
        margin-left: 5px;
        border: 1px solid white;
      }
      a:hover {
        color: $color_cyan;
        border-color: $color_cyan;
      }
    }
    > div > .datatable-wrapper {
      overflow: auto;
      overflow-x: scoll;
    }
    .content {
      margin: 0;
      padding: 12px;
    }
    div.foot {
      padding: 10px 12px;
      background-color: $color_brown;
    }
  }
  .centered {
    margin: 0 auto;
    margin-top: 15%;
    float: none !important;
    width: 400px;
  }
  hr {
    width: 100%;
    border: 0;
    height: 20px;
    padding: 0;
    margin: 0;
  }
}