form {
  ul {
    padding: 0;
    margin: 0;
  }
  li {
    list-style: none;
    margin-top: 10px;
    .inline-errors {
      color: $color_red;
      margin-top: 2px;
    }
    abbr {
      border: 0 !important;
      padding-left: 3px;
    }
  }
  li:first-child, li:nth-of-type(1) {
    margin-top: 0;
  }
  p {
    margin: 7px 0px;
    font-size: 14px;
    color: #666;
  }
  label {
    display: block;
    margin-bottom: 2px;
    color: black;
    font-size: 14px;
  }
  input[type="text"], input[type=password], input[type=email], input[type=tel], textarea, select[multiple=multiple] {
    border: 1px solid $color_light_grey;
    box-sizing: border-box;
    font-size: 14px;
    padding: 5px;
    outline: none;
    color: black;
    width: 100%;
    &:focus {
      border: 1px solid $color_grey;
    }
  }
  button, input[type=submit] {
    border: 0;
    font-size: 12px;
    padding: 7px 14px;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    background-color: $color_brown;
    font-weight: bold;
  }
  button:hover, input[type=submit]:hover {
    background-color: $color_cyan;
  }
  input[type=checkbox], input[type=radio] {
    margin-right: 7px;
  }
}
