.datatable, .datatable-no-toolbar, .simple-table {
  width: 100%;
  thead {
    tr {
      background-color: $color_grey;
      th {
        padding: 10px 12px;
        padding-right: 30px;
        text-align: left;
        font-weight: normal;
        font-size: 14px;
        color: white;
        border-left: 1px solid $color_brown;
        text-transform: uppercase;
      }
      th:first-child {
        border-left: 0;
      }
      th.sorting {
        background-image: url($asset_icon_sort);
        background-repeat: no-repeat;
        background-position: center right;
      }
      th.sorting_asc {
        background-image: url($asset_icon_sort_abc_asc);
        background-repeat: no-repeat;
        background-position: center right;
      }
      th.sorting_desc {
        background-image: url($asset_icon_sort_abc_desc);
        background-repeat: no-repeat;
        background-position: center right;
      }
      th.center {
        text-align: center;
      }
    }
  }
  tbody {
    td, th {
      text-align: left;
      border-top: 1px solid $color_beige;
      padding: 12px;
      font-size: 14px;
      border-left: 1px solid $color_beige;
      color: black;
      a {
        color: black;
      }
      a:hover {
        color: $color_cyan;
      }
    }
    tr:first-child td, tr:first-child th {
      border-top: 0;
    }
    td:first-child, th:first-child {
      border-left: 0;
    }
    td.center {
      text-align: center;
    }
    th {
      border-right: 1px solid $color_beige;
      font-size: 12px;
      color: #444;
     }
    td.buttons {
      width: 1px;
      white-space: nowrap;
      text-align: right;
      padding: 7px !important;
      vertical-align: middle;
      a {
        cursor: pointer;
        display: inline-block;
        padding: 3px 10px 3px;
        border: 1px solid black;
        margin: 0 2px;
        opacity: 0.5;
        text-decoration: none;
        height: 16px;
        background-repeat: no-repeat;
        background-position: center;
        text-transform: uppercase;
        font-size: 14px;
        &:hover {
          opacity: 1;
        }
      }
      a.edit, a.destroy, a.show, a.recover, a.print, a.icon {
        width: 16px;
      }
      a.edit {
        background-image: url($asset_icon_pencil);
      }
      a.destroy {
        background-image: url($asset_icon_cross);
      }
      a.show {
        background-image: url($asset_icon_eye);
      }
      a.recover {
        background-image: url($asset_icon_refresh);
      }
      a.print {
        background-image: url($asset_icon_print);
      }
    }
  }
}
  
// .datatable-wrapper {
//   .toolbar {
//     padding: 5px 12px;
//     padding-bottom: 2px;
//     // @include gradient(#ddd,#bbb);
//     color: #333;
//     font-size: 12px;
//     overflow: hidden;
//     .datatable-length {
//       float: right;
//     }
//     .datatable-filter {
//       float: left;
//       input {
//         width: 200px;
//         border: 1px solid #666;
//         padding: 2px 10px;
//         // @include border-radius(20px);
//         // @include gradient(#777,#999);
//         color: white;
//       }
//     }
//     .datatable-info {
//       float: right;
//       padding: 6px 0px;
//       margin-left: 15px;
//     }
//   }
// }