= aureus_row do |r|
  - r.column 25 do
    = aureus_box @aureus_box_title do
      = aureus_listing do |l|
        - @aureus_item_entries.each do |entry|
          - l.entry entry[0], entry[1].call(@aureus_resource)
  - r.space 75
