= aureus_row do
  = aureus_box draft('table.box_title') do
    = aureus_datatable draft('resources') do |t|
      - t.head do |h|
        - draft('table.columns').each do |column|
          - h.text column.title
      - t.row do |r, resource|
        - draft('table.columns').each do |column|
          - r.cell column.renderer.call(resource)
        - draft('table.actions').each do |action|
          - r.button *action.attributes.call(resource)
